.gitignore export-ignore
.distignore export-ignore
.gitattributes export-ignore
composer.json export-ignore
composer.lock export-ignore
phpcs.xml.dist export-ignore
.phpcs-cache export-ignore
vendor/ export-ignore
docs/ export-ignore
README.md export-ignore
LICENSE export-ignore
.vscode/ export-ignore
CLAUDE.md export-ignore
.github/ export-ignore
.notes/ export-ignore
